body{
    margin: 0;
    padding: 0;
    background: url(backcopy.png);
    background-size: cover;
    background-position: center;
      background-repeat: no-repeat;
        background-attachment: fixed;
        background-origin: content-box;
        border: none;
}
.login-box{
  text-align:center;
border:3px solid black;
padding-bottom:10px;
height:900px; width:200px;
background-color: white; margin-right: 2cm;
margin-left: auto;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    width:130%;

}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    width:100%;
    color: #000;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fff;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
      position: fixed;
}
.login-box a:hover
{
    color: #39dc79;
}


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.container {
	background-color: transparent;
	border-radius: 20px;
  box-shadow: 0 10px 38px rgba(0,0,0,0.25),
		0 10px 10px rgba(0,0,0,0.22);
	position: absolute;
   left: 28px;
   bottom: 80px;
	overflow: hidden;
	width: 600px;
	max-width: 580px;
	min-height: 550px;
}
.col-6{
    width:100%;
}
.col-7{
    width:100%;
}
.col-8{
    width:100%;
}
